<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brandroid.um.capitulo.projeto">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher2" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:name=".CadastroUsuarioActivity">
        <intent-filter>
            <action android:name="intent.cadastro"/>

            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>
    <activity android:name=".DashboardAdmin">
        <intent-filter>
            <action android:name="intent.dashboard.admin"/>

            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>
        <activity android:name=".DashboardUser">
            <intent-filter>
                <action android:name="intent.dashboard.user"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListarProdutoActivity">
            <intent-filter>
                <action android:name="intent.listar.produto"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".CadastroProdutoActivity">
            <intent-filter>
                <action android:name="intent.cadastro.produto"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditarProdutoActivity">
            <intent-filter>
                <action android:name="intent.editar.produto"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListarUsuarioActivity">
            <intent-filter>
                <action android:name="intent.listar.usuario"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListarAdministradoresActivity">
            <intent-filter>
                <action android:name="intent.listar.administrador"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditarUsuarioActivity">
            <intent-filter>
                <action android:name="intent.alterar.usuario"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ComprarProdutoActivity">
            <intent-filter>
                <action android:name="intent.comprar.produto"/>

                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".VerPedidoActivity">
            <intent-filter>
                <action android:name="intent.ver.pedido"/>

                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".fecharCaixaActivity">
            <intent-filter>
                <action android:name="intent.fechar.caixa"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
